include ../../components/slider-group/slider-group
include ../../components/slider-config/slider-config

mixin demo-page()
  .demo-page
    h1.demo-page__title= 'Range slider demo.'
    +slider-group({
      title: 'With bubble',
      attr: { value: 42, 'show-bubble': true, 'show-grid': true, 'grid-density': 10 }
    })
    +slider-group({
      title: 'With step',
      attr: { step: 10 },
      reverse: true,
    })
    +slider-group({
      title: 'With range',
      attr: { 'is-range': true },
    })
    +slider-group({
      title: 'Vertical',
      attr: { 'is-vertical': true, value: 42 },
      reverse: true,
    })
    +slider-group({
      title: 'Vertical w/ bubbles and range',
      attr: { value: 42, 'show-bubble': true, 'is-vertical': true, 'is-range': true },
    })
    +slider-group({
      title: 'From 1 to 10',
      attr: { min: 1, max: 10 },
      reverse: true,
    })