include ../../components/slider-group/slider-group
include ../../components/slider-config/slider-config

mixin demo-page()
  .demo-page
    h1.demo-page__title= 'Range slider demo.'
    +slider-group({
      title: 'Simple',
      attr: {value: 10, range: true}
    })
    +slider-group({
      title: 'With step',
      attr: {step: 10},
      reverse: true,
    })
    +slider-group({
      title: 'With range',
      attr: {range: true},
    })
    +slider-group({
      title: 'Vertical',
      attr: {vertical: true, range: true, value: 30, value2: 50, 'show-bubble': true},
      reverse: true,
    })
    +slider-group({
      title: 'With bubble',
      attr: {value: 20, 'show-bubble': true},
    })
    +slider-group({
      title: 'Without config',
      reverse: true,
    })