@import '../../../app/styles/vars';

.slider-config {
  color: $color-primary-100;

  &__input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    min-height: 2rem;
    padding-left: 1.25rem;
  }

  &__input {
    color: $color-primary-75;
    font-size: 1rem;
    font-family: monospace, sans-serif;
    border-radius: 0.25rem;
    margin-left: 1rem;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    @media (max-width: 767px) {
      &_type {
        &_text {
          width: 45%;
        }
      }
    }
  }
}