$color-dark-75: rgba(31, 32, 65, 0.75);
$color-dark-100: rgba(31, 32, 65, 1);

.slider-config {
  font-family: monospace, sans-serif;
  color: $color-dark-100;

  &__input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    min-height: 2rem;
    padding-left: 1.25rem;
  }

  &__input {
    color: $color-dark-75;
    font-size: 1rem;
    font-family: monospace, sans-serif;
    border-radius: 0.25rem;
  }
}