include ./components/slider-group/slider-group

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='jQuery Range Slider' )
    meta(name='keywords' content='jQuery range slider plugin' )
    link(rel='apple-touch-icon' sizes='180x180' href='favicons/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicons/favicon-16x16.png')
    link(rel='manifest' href='favicons/site.webmanifest')
    link(rel='mask-icon' href='favicons/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')
    title= 'Range slider jQuery plugin, written in TypeScript.'
  body
    h1= 'Range slider demo.'
    .container
      +slider-group({
        title: 'Simple',
        attr: {'show-config': true}
      })
      +slider-group({
        title: 'With step',
        attr: { step: 10, 'show-config': true },
      })
      +slider-group({
        title: 'With range',
        attr: { range: true, 'show-config': true },
      })
      +slider-group({
        title: 'Vertical',
        attr: { vertical: true, range: true, value: 30, value2: 50, 'show-bubble': true, 'show-config': true },
      })
      +slider-group({
        title: 'With bubble',
        attr: { value: 20, 'show-bubble': true, 'show-config': true },
      })
      +slider-group({
        title: 'Without config',
      })
    script(src='./jquery.min.js')
