html {
  color: rgba(31, 32, 65, 1);
  font-family: Monospaced, sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: 26rem;
  grid-gap: 3rem;
  color: rgba(31, 32, 65, 1);
}

h3 {
  margin: 0 auto 2.5rem auto;
}