.range-slider {
  position: relative;
  $input: #{&}__input;
  $rail: #{&}__rail;
  $railWeight: 10px;
  height: $railWeight;
  #{$input} {
    height: $railWeight;
    width: 100%;
    position: absolute;
  }
  #{$rail} {
    height: $railWeight;
    width: 100%;
    background: greenyellow;
    bottom: 0;
  }
  &__handle {
    display: block;
    position: absolute;
    top: 0;
    width:14px;
    height: 14px;
    border-radius: 7px;
    background: mediumvioletred;
  }
  &--vertical {
    height: 100%;
    #{$input} {
      width: $railWeight;
      height: 100%;
    }
    #{$rail} {
      width: $railWeight;
      height: 100%;
    }
  }

  &-group {
    position: relative;
    height: 150px;
    width: 250px;
  }
  &-config {
    top: 15px;
    left: 15px;
    position: absolute;
  }
}